.obsidian/
.idea/
.obsidian/
PDFs/
Em Aula/
opencv4-samples-python/
digital-image-processing-main/
DIP3E_Original_Images_CH03/
OCR-MLOps-DVC/
LCF_OCR_Pipeline/
*.code-workspace
Processamento_Digital_de_Imagens_Bkp.tar.zst
NOTES.md
*.kate-swp
*~
