[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
keras = "*"
scikit-learn = "*"
opencv-python = "*"
torch = "*"
requests = "*"
dvc = "*"
dvc-gdrive = "*"
scikit-image = "*"
tqdm = "*"
jupyter-ai = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
